<%= link_to 'Main Page',index1_path %>
<p>ADDRESSES OPERATORS</p>
	<table class="table">
	<tr class="tr">
		<td>ID</td>
		<td>MapRoleID</td>
		<td>UserName</td>	
	</tr>
<% for t in @details %>
	<tr class="tr">
	<td><%= t.id %></td>
	<td><%= t.mapRoleID %></td>
	<td><%= t.username %></td>
	</tr>
<% end %>
</table>